#Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*~

#Virtual env
.venv/
venv/
env/
ENV/

#Tooling + local IDE settings
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/

#Coverage
.coverage
.coverage.*
htmlcov/

#Env files
.env
.env.*

#Project local excludes
tests/
